<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type='text/css' href="{% static 'css/home.css' %}">
    <title>ITLabAssistant</title>
</head>
<body>
    <main>
        <nav>
            <a href="#" class="logo">
                <h2>IT<span>LabAssistant</span></h2>
            </a>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
            </div>
            <div class="login">
                <a href="signup"><button class="signup">Get Started</button></a>
                
                <button>Login</button>
            </div>
        </nav>
    </main>
    <header>
        <div class="left">
            <a href="#" class="logo">
                <h2>IT<span>LabAssistant</span></h2>
            </a>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aspernatur nisi fugiat corporis consequatur porro ab vel,
                 asperiores corrupti voluptate,
                  sunt est delectus debitis ad praesentium laboriosam illo quam officia hic!</p>
        </div>
        <div class="login">
            <button class="signup">Get Started</button>
        </div>
    </header>
</body>
</html>