<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITLabAssistant</title>
    <link rel="preconnect" href="=https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fontsgstatic.com" crossorigin
    >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajaxlibs/font-awesome/6.6.0/css/all.min.css">
    <link href="https:fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
     
        * {
            font-family: "PT Serif", serif;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar section-content">
        <a href="#" class="nav-logo">
            <h2><span class="it">IT</span><span class="lab">LabAssistant</span></h2>
        </a>
        <ul class="nav-menu">
            <button id="menu-close-button" class="fas fa-times"></button>

            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Activites</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<h3>Welcome to ITLabAssistant!</h3>
<h4>This web app is designed to help you with your technical needs.
     Think of it like having a personal lab assistant at your fingertips.</h4>
<main>
    <section class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <ul class="hero-menu">
                    <li class="hero-item">
                        <a href="#" class="hero-link">Troubleshooting</a>
                    </li>
                    <li class="hero-item">
                        <a href="#" class="hero-link">Resources</a>
                    </li>
                    <li class="hero-item">
                        <a href="#" class="hero-link">New Student Registration</a>
                    </li>
                    <li class="hero-item">
                        <a href="#" class="hero-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <h2 class="seperator">
        Activites
    </h2>
    <div class="activities">
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/u7opoNx.jpeg" class="rounded float-start" alt="first">
                <img src="https://i.imgur.com/Y6USHU8.jpeg" class="rounded float-end" alt="second">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div>
        <div class="operations">
            <div class="header">
                <img src="" alt="second">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div>
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/Nu2rjGH.jpeg" alt="third">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p> 
        </div>
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/9zOiVCF.jpeg" alt="first">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div>
        <!-- <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/rqMmSWP.jpeg" alt="first">
                <h5>hardware</h5>
            </div>
            <p>Software Installation</p>
        </div>
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/AkU4gv0.jpeg" alt="first">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div> -->
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/AkU4gv0.jpeg" class="rounded float-start" alt="...">
                <img src="https://i.imgur.com/rqMmSWP.jpeg" class="rounded float-end" alt="...">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div>
        <div class="operations">
            <div class="header">
                <img src="https://i.imgur.com/km3BMQS.jpeg" alt="first">
                <h5>Troubleshooting</h5>
            </div>
            <p>Software Installation</p>
        </div>
    </div>
</main>
</body> 
</html>